#equipment_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
}

.content {
  border: 1rem;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.equipment img {
  max-width: 100%;
}

.equipment h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 10px 0;
}

.equipment p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #555;
}

.category_info {
  background-color: #1c78c1;
  margin-top: -11px;
}

/*GARDIAN SLANGE */

.gradient-loop {
  width: 80%;
  height: 20px; /* Juster højden efter behov */
  background: linear-gradient(200deg, #1366b0, #9f96c9, #eb5c8d, #ea4e43);
  background-size: 400% 400%;
  margin: 50px;
  margin-left: 15%;
  border-radius: 10px 10px 10px 10px;
  animation: gradientAnimation 1s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
