:root {
  --primary-color: #fefcfc;
  --secondary-color: #eb5c8d;
  font-family: Arial, Helvetica, sans-serif;
  --h1-font-size: 4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.2rem;
  --p-font-size: 1rem;
}

h1 {
  font-size: var(--h1-font-size);
  color: #4f4f4f;
  font-weight: bold;
  margin-left: 20px;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: lighter;
  color: #1366b0;
  margin-left: 20px;
}

h3 {
  font-size: var(--h3-font-size);
  color: #4f4f4f;
  margin-left: 20px;
}
h4 {
  font-size: var(--h3-font-size);
  color: #1366b0;
  margin-left: 20px;
  margin-top: 20px;
}

p {
  font-size: var(--p-font-size);
  color: #4f4f4f;
  line-height: 30px;
  margin-left: 20px;
}

/*************** RESET *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  --primary-color: var(--primary-color);
}
/*GRADIAN SLANGE */

.gradient-loop {
  width: 80%;
  height: 20px; /* Juster højden efter behov */
  background: linear-gradient(200deg, #1366b0, #9f96c9, #eb5c8d, #ea4e43);
  background-size: 400% 400%;
  margin: 100px;
  margin-left: 10%;
  margin-bottom: 100px;
  border-radius: 10px 10px 10px 10px;
  animation: gradientAnimation 1s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/**************** Hero Image ********************/
.hero-container {
  position: relative; /* Create a positioning context for the child elements */
}

.heroimg {
  width: 100%;
  height: auto;
  display: block;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 1;
}
.h1_master {
  width: 95%;
}

/**************** MENU ********************/
.flex_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefcfc;
  padding: 10px;
  position: relative;
}

.logo {
  width: 100px;
}

/* Container for søgeikon og søgefelt */
.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  top: 10px;
  width: auto;
  height: 30px;
}

/* Style til søgeikonet */
.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Style til søgefeltet */
.search-field {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

/* Centrer desktop-menuen */
nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  padding: 10px;
  color: #1366b0;
  text-decoration: none;
}

.menu a:hover {
  color: #626262;
}

/********* BURGER ********/
/* Desktop Menu */
.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #1366b0;
}

.menu a:hover {
  color: #626262;
}

/* Burger Menu */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #1366b0;
}

.mobil_nav {
  display: none;
  flex-direction: column;
  background-color: #fefcfc;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

.mobil_nav a {
  padding: 15px;
  text-decoration: none;
  color: #1366b0;
  display: block;
}

/* Mobil Menu Active State */
.mobil_nav.is-active {
  display: flex;
}

/* Responsiv styling */
@media screen and (max-width: 800px) {
  .burger {
    display: flex; /* Vist på mobile enheder */
  }

  .menu {
    display: none; /* Skjult på mobile enheder */
  }
  .search-container {
    margin-right: 25px;
    margin-top: 6px;
    width: 15px;
    height: 15px;
    padding: 5px;
  }

  .heroContainer {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-text {
    color: white;
    max-width: 80%;
    padding: 10px;
    font-size: 0.5em;
    white-space: nowrap;
  }

  h2 {
    font-size: 20px;
    margin: 8px;
  }
  h3 {
    font-size: 23px;
    margin: 8px;
    font-weight: lighter;
  }

  p {
    font-size: 15px;
    margin: 8px;
  }

  .studentCardText {
    font-size: 23px;
    margin: 8px;
    font-weight: lighter;
    color: #1366b0;
  }
}

@media screen and (min-width: 800px) {
  .burger {
    display: none; /* Skjult på desktop */
  }

  .mobil_nav {
    display: none; /* Skjult på desktop */
  }
}

/*Styling forms*/

input,
textarea,
.submit {
  border-radius: 4px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  color: #1366b0;
}

form {
  width: 25rem;
  background: linear-gradient(
    to bottom,
    rgba(19, 102, 176, 0.3),
    rgba(175, 175, 175, 0.3)
  );
  border: 10px solid #fefcfc;
  margin: 20px;
  height: 30rem;
}
.if {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 32px;
}
fieldset {
  border: none;
  margin: 20px;
}
input,
textarea {
  width: 270px;
  padding: 10px 5px;
  box-sizing: border-box;
}
textarea {
  height: 100px;
}
.submit {
  background-color: #1c78c1;
  padding: 10px 5px;
  width: 7rem;
  cursor: pointer;
  float: left;
  color: #fafafa;
}
.submit:hover {
  background-color: #1366b0;
}

.row,
.row1,
.if {
  color: #1366b0;
}

.row1 {
  margin-left: 13px;
}

/****** Styling footer ******/

footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-image: linear-gradient(
    to bottom,
    #fefcfc 5%,
    #f5a6a2 77%,
    #eb5148 100%
  );
  min-height: 600px;
}
/* position: relative;
  width: 100%;
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-image: linear-gradient(
    to bottom,
    #fefcfc 5%,
    #f5a6a2 77%,
    #eb5148 100%
  ); */

.footer_links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
}

.footer_links div {
  width: 45%;
  margin-bottom: 2rem;
}

.footer_links h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #fafafa;
}

.footer_links ul {
  list-style-type: none;
  padding: 0;
  color: #4f4f4f;
}

.footer_links li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.footer_links p {
  font-size: 1rem;
  line-height: 1.5;
  color: #4f4f4f;
}
