.image-container {
  position: relative;
  display: block;
}
.heroimg {
  display: block;
}
.image-container .h1_master {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  white-space: nowrap;
}

form {
  margin-bottom: 5%;
}
/* Mobil first */
@media screen and (max-width: 799px) {
  .info {
    margin-top: 70px;
    margin-left: 20px;
  }

  .info p {
    margin-top: 20px;
    max-width: 65ch;
  }

  .studentCard {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 10px; /* Space between columns */
    width: 90%;
    margin-left: 20px;
    background-color: #1c78c14c; /* Background color for the entire box */
    margin-top: 50px;
    padding: 20px; /* Optional: Add padding inside the grid container */
  }

  .studentCard h3 {
    grid-column: 1 / -1; /* Span across both columns (optional for full-width heading) */
    margin: 0;
  }

  .studentCard p {
    grid-column: 1; /* Place paragraph in the first column */
    margin: 0;
  }

  .studentCard img {
    grid-column: 2; /* Place image in the second column */
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }

  .EquipmentBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: auto;
    height: auto;
    background-color: #1c78c14c; /* Background color for the entire box */
    padding: 20px; /* Optional: padding for content spacing */
    margin-top: 70px;
  }

  .categoriesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Add some spacing between grid items */
  }

  .list {
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: #1c78c14c;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center; /* Center items horizontally */
    background: linear-gradient(to bottom, #9f96c9, #ea4e4380 70%);
    text-decoration: none;
    height: 200px;
  }

  .list img {
    width: 20%;
    height: auto;
    grid-row: 1;
  }

  .list h3 {
    margin: 10px 0;
  }

  .gradient-line {
    border-radius: 10px;
    height: 15px; /* Højde på stregen */
    background-image: linear-gradient(to right, #0d66ad, #eb5148);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  h4 {
    grid-column: 1 / 4; /* Span across all columns */
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 24px;
    color: #1366b0;
    text-align: center;
  }

  .contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 8px;
    justify-content: space-between; /* Distribute space evenly */
    background-color: #f0f0f0;
    height: 300px; /* Set a fixed height */
    box-sizing: border-box; /* Include padding and border in the height calculation */
  }

  .contactCard img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .contactCard p {
    font-family: "Helvetica Neue", Helvetica;
    color: #4f4f4f;
    font-size: 14px;
    text-align: center;
    margin: 8px 0;
  }

  .contactCard p:nth-child(3) {
    font-size: 12px;
    color: #1366b0;
    text-decoration: underline;
  }
}

/********* styles for desktop devices ********/
@media only screen and (min-width: 800px) {
  /*index*/
  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .infoStudentCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 50px;
    align-items: baseline;
  }

  .info {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
  }

  .info h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
  }
  .info p {
    margin-top: 20px;
    max-width: 70ch;
  }

  .studentCard {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    width: 100%;
    height: 335px;
    margin-left: 26px;
    background-color: #1c78c14c;
    padding: 5%;

    position: relative; /* Set this to position child elements absolutely within it */
  }
  .studentCard img {
    position: absolute; /* Position the image absolutely within the .studentCard */
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
    width: 40%; /* Set the width of the image */
  }

  .studentCard p {
    color: white;
  }

  .studentCardText {
    color: #1366b0;
  }

  .EquipmentBox {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    grid-template-rows: auto;
    background-color: #1c78c14c;
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
    position: relative; /* This is needed for absolute positioning of child elements */
  }

  .equipmentText {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    max-width: 65ch;
  }

  .equipmentText h2 {
    margin-top: 4%;
    color: #1366b0;
  }
  .map {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
  }

  .rotation {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .open3 {
    color: #f0f0f0;
  }
  .cat_space {
    margin-top: 8rem;
  }
  .categoriesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Add spacing between items */
    padding: 50px;
  }

  .list {
    display: grid;
    grid-template-rows: 2fr 1fr;
    border-radius: 20px;
    background-color: #1c78c14c;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(to bottom, #9f96c9, #ea4e4380 70%);
    text-align: center;
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-decoration: none;
    height: 300px; /* Set a fixed height for equal size */
  }

  .list img {
    width: 20%;
    height: auto;
    grid-row: 1;
  }

  .access {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-template-rows: auto; /* Rows will adjust based on content */
    gap: 20px; /* Space between grid items */
    padding: 60px;
  }

  .accessText {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    max-width: 65ch;
  }

  .video {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0 auto;
    background-color: rgba(28, 120, 193, 0.3);
    padding: 20px;
  }

  /* Center the h4 header across all columns */
  h4 {
    grid-column: 1 / 4;
    margin: 0;
  }

  /* Ensure .contactCard is centered within its grid cell */
  .contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-align: center;
  }

  /* Style for images within .contactCard */
  .contactCard img {
    width: 60%;
    height: auto;
    object-fit: cover;
  }

  .contactCard p {
    text-align: center;
  }

  .contactCard p:nth-child(3) {
    font-size: 12px;
    color: #1366b0;
    text-decoration: underline;
  }

  /*********** Footer *********/

  .socialMedia {
    display: flex;
    gap: 10px;
    grid-column-start: 4;
    grid-row-start: 2;
  }
}
